@model TranslatorInputDto
@* form with input textbox *@
<div>
    <form id="form">
        @Html.LabelFor(i => i.Text)
        @Html.EditorFor(i => i.Text, "Text", "Text")
        @Html.DropDownListFor(i => i.Translators, 
                new SelectList(Enum.GetValues(typeof(TranslatorsEnum))), 
                "Select Translator")
        <br />
        <input type="submit" id="submit" value="Get your translation" />
    </form>
</div>
<br />
<table id="translatedResult">
    <thead>
        <tr>
            <th>Original text</th>
            <th>Converted text</th>
        </tr>
    </thead>
</table>

@* submit button handler *@
@section scripts{
<script type="text/javascript" src="~/js/submitButtonHandler.js"></script>
}



